.TRANSPORTATION {
    text-align: center;
}

#Conquering_Distances {
    color: darkblue;
    font-size: x-large;
    font-family: fantasy;
}

#Roadways {
    color: red;
    font-family: sans-serif;
    font-size: large;
}

#Railways {
    color: chocolate;
    font-family: Helvetica;
    font-size: large;
}

.Waterways {
    color: blue;
    font-size: large;
    font-family: monospace;
}

.Airways {
    color: crimson;
    font-family: unset;
    font-size: large;
}