ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deepskyblue;
}

li {
    float: right;
    font-family: 'Pacifico', cursive;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: lightskyblue;
}

.active {
    background-color: #04AA6D;
}

.left {
    width: 700px;
    height: 700px;
    background-color: green;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    border: 10px solid blueviolet;
}

.right {
    width: 700px;
    height: 700px;
    background-color: blue;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    border: 10px solid blueviolet;
}