body {
    background-color: #9ACD32;
    /* Code for full page of the website*/
}


/*Code for navigation bar starts*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deepskyblue;
}

.navbar li {
    float: right;
    font-family: 'Pacifico', cursive;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: lightskyblue;
}

.navbar .active {
    background-color: #04AA6D;
}


/*Code for navigation bar ends*/

.left {
    width: 500px;
    height: 1000px;
    background-color: #F4A460;
    float: left;
    /*Code for left div*/
    margin-top: 10px;
    margin-left: 100px;
    border: 10px solid #FF4500;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #00008B;
}

.right {
    width: 500px;
    height: 1000px;
    background-color: #B0E0E6;
    float: right;
    /*Code for left div*/
    margin-top: 10px;
    margin-right: 100px;
    border: 10px solid #4B0082;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #00008B;
}

#Bhakti {
    text-transform: capitalize;
    text-shadow: 4px 2px 7px blue;
    /*Code for bhakti heading*/
    text-decoration: underline;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

#education {
    text-transform: capitalize;
    text-shadow: 4px 2px 7px red;
    /*Code for education heading*/
    text-decoration: underline;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: white;
}

.list1 ul {
    /* Code for list1*/
    list-style-type: none;
    font-size: x-large;
    font-family: 'Pacifico', cursive;
    color: #8B4513;
}

#list2 ul {
    /* Code for list2*/
    list-style-type: none;
    font-size: x-large;
    font-family: 'Pacifico', cursive;
    color: #008080;
}

ul {
    list-style-type: none;
}

button {
    border: 5px solid #0000FF;
    border-radius: 17px;
    background-color: #CD853F;
    padding: 20px;
    color: #FF0000;
    font-family: 'Pacifico', cursive;
    font-size: large;
}


/*Code for the button*/

button:hover {
    border: 5px solid #FF8C00;
    border-radius: 17px;
    background-color: #87CEEB;
    padding: 23px;
    color: #B22222;
    font-family: 'Pacifico', cursive;
    font-size: large;
}


/*Code for the button*/

#visit {
    font-family: 'Pacifico', cursive;
    word-wrap: break-word;
}