body {
    background-color: #9ACD32;
    font-family: 'Pacifico', sans-serif;
    /* Code for full page of the website*/
}

/*Code for navigation bar starts*/

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: deepskyblue;
}

.navbar li {
    float: right;
    font-family: 'Pacifico', cursive;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active) {
    background-color: lightskyblue;
}

.navbar .active {
    background-color: #04AA6D;
}


/*Code for navigation bar ends*/

.left {
    width: 500px;
    height: 1000px;
    background-color: #F4A460;
    float: left;
    /*Code for left div*/
    margin-top: 10px;
    margin-left: 100px;
    border: 10px solid #FF4500;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #00008B;
}

.right {
    width: 500px;
    height: 1000px;
    background-color: #B0E0E6;
    float: right;
    /*Code for right div*/
    margin-top: 10px;
    margin-right: 100px;
    border: 10px solid #4B0082;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #00008B;
}

#Bhakti {
    text-transform: capitalize;
    text-shadow: 4px 2px 7px blue;
    /*Code for bhakti heading*/
    text-decoration: underline;
    font-family: 'Pacifico', cursive;
    text-align: center;
}

#education {
    text-transform: capitalize;
    text-shadow: 4px 2px 7px red;
    /*Code for education heading*/
    text-decoration: underline;
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: white;
}

.list1 ul {
    /* Code for list1*/
    list-style-type: none;
    font-size: x-large;
    font-family: 'Pacifico', cursive;
    color: #8B4513;
}

#list2 ul {
    /* Code for list2*/
    list-style-type: none;
    font-size: x-large;
    font-family: 'Pacifico', cursive;
    color: #008080;
    word-wrap: break-word;
}

ul {
    list-style-type: none;
}


/*Code for the button*/

button {
    border: 5px solid #0000FF;
    border-radius: 17px;
    background-color: #CD853F;
    padding: 20px;
    color: #FF0000;
    font-family: 'Pacifico', cursive;
    font-size: large;
}

button:hover {
    border: 5px solid #FF8C00;
    border-radius: 17px;
    background-color: #87CEEB;
    padding: 23px;
    color: #7a7575;
    font-family: 'Pacifico', cursive;
    font-size: large;
}


/*Code for the navigation button*/
/*Code for collapsing side bar*/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

/*Code for collapsing side bar*/